* {
    box-sizing: border-box;
}

body{
background-color: #6373cc;
background-image: url("./asset/Protruding-Squares.svg");
background-attachment: fixed;
/* background-size: cover; */
font-family: 'Abel', sans-serif;
}


.container{
        width: 80%;
        height: 70%;
        /*background-color: rgb(255, 255, 255);*/
        display: flex;
        justify-content: space-between;
        
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
          
        margin: auto;
}

.cont{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


/* table */
.table{
    background-color: #2f2d29;
    padding-bottom: 20px;
    height: auto;
}


.mainTable {
    font-family: 'Abel', sans-serif;
    border-collapse: collapse;
    width: 100%;



        overflow-y:scroll;
        /* height:450px; */
        display:block;
    
  }
  
  .mainTable td, .mainTable th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .mainTable tr:nth-child(even){background-color: #fffeff;}
  .mainTable tr:nth-child(odd){background-color: #d9e2f3;}
  
  .mainTable tr:hover {background-color: rgb(56, 141, 180);}
  
  .mainTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #1f7c49;
    color: white;

  }


/* canvas */
.canvas{
    background-color: #1f7c49;
    height: auto;
}


h1{
    text-align: center;
    font-size: 45px;
    font-family: 'Roboto Slab', serif;
}

#myChart{
    width: 75%;
    height: 70%;
    background-color: #d6d9f0;
    margin: 0 auto;
}

.Chart{
    width: 75%;
    height: 70%;
    padding-bottom: 20px;
}



















.first_cont{

  width: 100%;
  height: 100%;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /*background: #FFA114;*/
  background: #EEA12F;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  align-items: center;
  transform: all 0.5s;
}


.input_form{
    width: 80%;
    height: 70%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}




        .inp {
            position: relative;
            margin: auto;
            width: 100%;
            max-width: 280px;
        }
        .inp .label {
            position: absolute;
            top: 16px;
            left: 0;
            font-size: 16px;
            color: #000000;
            font-weight: 500;
            transform-origin: 0 0;
            transition: all 0.2s ease;
        }
        .inp .border {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background: rgb(255, 255, 255);
            transform: scaleX(0);
            transform-origin: 0 0;
            transition: all 0.15s ease;
        }
        .inp input {
            -webkit-appearance: none;
            width: 100%;
            border: 0;
            font-family: inherit;
            padding: 12px 0;
            height: 48px;
            font-size: 16px;
            font-weight: 500;
            border-bottom: 2px solid #c8ccd4;
            background: none;
            border-radius: 0;
            color: #000000;
            transition: all 0.15s ease;
        }
        .inp input:hover {
            background: rgba(34,50,84,0.03);
        }
        .inp input:not(:placeholder-shown) + span {
            color: #5a667f;
            transform: translateY(-26px) scale(0.75);
        }
        .inp input:focus {
            background: none;
            outline: none;
        }
        .inp input:focus + span {
            color: rgb(255, 255, 255);
            transform: translateY(-26px) scale(0.75);
        }
        .inp input:focus + span + .border {
            transform: scaleX(1);
        }




        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-bottom: 50px;
        }
        .button svg {
            height: 55px;
            width: 150px;
            fill: none;
            stroke-width: 3;
        }
        .button svg .o1 {
            stroke: rgb(11, 11, 11);
            fill: rgb(50, 147, 56);
            transition: all 1s ease-in-out;
        }
        .button svg .o2 {
            stroke: white;
            stroke-dasharray: 20 420;
            stroke-dashoffset: 20;
            transition: all 1s ease-in-out;
        }
        .button span {
            position: absolute;
            margin: auto 0;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
        .button:hover .o1 {
            fill: rgb(48, 158, 166);
                    }
                    
        .button:hover .o2 {
            stroke-dashoffset: -420;
        }









.second_cont{
    display: none;
  transform: all 0.5s;
}









/* animation */




.fadeout {
	        animation: all 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.fadein {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
	        animation: all 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

  @keyframes fadeout {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }
  
  @keyframes fadein {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }
  



